[2016-10-04 09:05] tdamir opened #3 "Bug in html syntax highlighting when attribute content contains a 'model' keyword"
**I'm submitting a bug report**

* **Library Version:**
0.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

**Current behavior:**
If the attribute value contains a 'model' (ie: value.bind="model.value") then rest of the html is not well highlighted.

[2016-10-05 05:47] eriklieben opened #4 "auto-complete requires an extra keystroke to continue flow."
**I'm submitting a bug report**

* **Library Version:** 0.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

**Current behavior:**
When pressing tab to autocomplete, the cursor is at the end of the auto-completed word.

**Expected/desired behavior:**
When pressing tab to autocomplete, the cursor should on the place of the x, mode.bind="x" instead of as it currently

[2016-10-05 05:53] eriklieben commented on #3
Thanks for submitting this bug request, I am sorry you had an inconvenient experience using the extension.

I have fixed the issue, and it will be resolved in the next release. I will be checking the other cases in which the same might occur and fix add test cases for them, before create a new release to resolve this bug.

[2016-10-05 06:44] tdamir commented on #3
No worries. Thank you!

[2016-10-09 04:55] Flatta opened #5 "Bad syntax highlighting with <meta name="referrer">"
**I'm submitting a bug report**

* **VSCode Version:**
1.5.3

* **Library Version:**
0.1.4

* **Operating System:**
Windows 10

**Current behavior:**
![image](https://cloud.githubusercontent.com/assets/11276413/19217992/103a7cbe-8e27-11e6-9050-9720ed8f5b35.png)

**Expected/desired behavior:**
![image](https://cloud.githubusercontent.com/assets/11276413/19218014/b4548164-8e27-11e6-9fdc-88b172966557

[2016-10-09 08:42] #5 closed

[2016-10-09 12:28] Flatta commented on #5
Thank you so much, I overlooked a fix again...

[2016-10-10 14:19] eriklieben commented on #3
A new version is released that includes the fix https://marketplace.visualstudio.com/items?itemName=AureliaEffect.aurelia

[2016-10-10 14:21] #3 closed

[2016-10-10 14:22] eriklieben commented on #5
A new version is released that includes the fix https://marketplace.visualstudio.com/items?itemName=AureliaEffect.aurelia

[2016-10-10 14:27] Flatta commented on #5
Thank you again.
I just confirmed it working!

[2016-10-10 15:15] Flatta opened #6 "Bad syntax highlighting with certain patterns"
**I'm submitting a bug report**

* **VSCode Version:**
1.5.3

* **Library Version:**
0.1.5

* **Operating System:**
Windows 10

I noticed that bad syntax highlighting occurs not only with `referrer` but also with some patterns.
Patterns I found are listed below.
* Begins with `show`, `if`, `view-model`, `repeat.for`
* Begins with `bindable`, `controller` (with no following `-` or `!` or ...)
* Con

[2016-10-11 20:42] eriklieben commented on #6
Thanks for testing it so thoroughly.

I fixed the regex code to behave correctly in these cases, but require some more time to write tests cases for them. Otherwise, I break something again by fixing something else :-)

Will let you know when a fix is ready.

[2016-10-11 20:44] EisenbergEffect commented on #6
Sounds good.

[2016-10-12 08:26] eriklieben opened #7 "Auto-complete stopped working in 0.1.5 release"
**I'm submitting a bug report**

* **VSCode Version:**
1.6.0

**Library Version:**
0.1.5

* **Operating System:**
Windows 10

Auto-complete stopped working in 0.1.5 release.

[2016-10-12 23:05] bigopon commented on #6
Confirm with this:

![](http://image.prntscr.com/image/2e3992ac64344f558bcef5f84eefe2c8.png)

[2016-10-13 20:14] #6 closed

[2016-10-13 21:04] eriklieben commented on #7
Seems to be partially fixed with the v1.6.1 release, which reversed some changes made in vscode (https://github.com/Microsoft/vscode/milestone/31?closed=1).

Still, it now requires you to type ```value.b``` instead of only ```value.``` to get auto suggestion.

Need to look into it to find a fix for this/ see what changed.

[2016-10-16 07:53] shahabganji opened #9 "AutoComplete and Command Palette does not work on MAC OS"
**I'm submitting a bug report**

* **Library Version:**
0.1.5

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12 macOS Sierra

* **Node Version:**
6.2.2

* **NPM Version:**
3.9.5

* **Language:**
TypeScript 2.0.3

**Current behavior:**

Just syntax highlighter works, and I have no autocompletion and command palette support.
I will get command palette support if I install

[2016-10-16 20:11] eriklieben commented on #9
Thanks for submitting an issue. I am sorry for the inconvenience.

I discovered that since version 1.6.0 of vscode the autocomplete stopped working (issue #7). It now only works if you type part of it so ```value.b``` will only activate it.

I already planned to move the autocomplete functionality to a language server to allow it to do more and make it perform better. Currently, I am working on th

[2016-10-17 16:53] shahabganji commented on #9
I am very thankful to you for your complete and prompt response.

About the last part of your answer which is about aurelia-cli, actually I meant the aurelia extension does not have the au commands such as ```au new``` or ```au build``` until I manually added aurelia-cli extension

[2016-10-20 11:47] fedoranimus opened #10 "HTML Syntax highlighting not working properly"
**I'm submitting a bug report**

* **Library Version:**
0.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.0

* **NPM Version:**
3.10.5

* **Language:**
TypeScript 2.0

**Current behavior:**
![image](https://cloud.githubusercontent.com/assets/179260/19558540/1bca77b2-9699-11e6-92c8-79031b2d8677.png)

**Expected/desired behavior:**
Standard

[2016-10-20 13:43] EisenbergEffect commented on #10
@eriklieben I've observed this above in the same code that I reported the completion errors on.

[2016-10-21 05:31] eriklieben commented on #10
Thanks for the bug report, I am sorry you are experiencing these issues.

This bug is resolved in version 0.1.6. I have some problems with the publishing tools for vscode to get the extension in the marketplace, which cause a bit of a delay in getting the latest version in the marketplace.

If you really need the functionality (and could not wait) you could install it manually, but I think this re

[2016-10-22 06:53] #4 closed

[2016-10-22 07:05] eriklieben commented on #10
Version 0.1.7 is released, which also includes the fixes. Can you upgrade to 0.1.7 and restart vscode to see if you still have the same issues?

Thanks

[2016-10-22 07:07] eriklieben commented on #9
Can you try to install version 0.1.7 and see if the issues still occur? Autocompletion works a bit different, but should autocomplete full attributes, so for example "if" can autocomplete to ```if.bind=""```.

Thanks

[2016-10-22 07:08] eriklieben commented on #7
fixed in 0.1.7

[2016-10-22 07:08] #7 closed

[2016-10-22 07:09] eriklieben commented on #6
@Flatta if you upgrade to v0.1.7 the above issue is resolved, I had some issues publishing to the marketplace.

[2016-10-22 07:14] bigopon opened #12 "Autocomplete for basic events not implemented properly"
**I'm submitting a bug report**

* **Extension Version:**
0.1.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.7.0-insiders

**Screenshot of incorrect highlight**
![](http://image.prntscr.com/image/671e739299894eb88d356a9b0836da39.png)

**HTML/JS/TS of incorrect highlight**
Basically unexpected event binding option

**Current beh

[2016-10-22 09:13] eriklieben commented on #12
Sorry, wanted to get a fix out for the syntax highlighting and moved this a bit too fast to production to test if the auto publish to marketplace worked.

Working on a fix for this.

[2016-10-22 09:39] #12 closed

[2016-10-22 10:16] eriklieben commented on #12
Version 0.1.8 is published and contains a fix for this.
I am sorry for the inconvenience, should have tested it better myself.

[2016-10-22 10:57] bigopon commented on #12
Just a side question, what happened to the old way of displaying binding options ? It's more awesome if we can `click.` -> [....options]

[2016-10-22 11:00] bigopon commented on #12
Another comment is I would like to have quotes options. I have my emmet setup to enclose html attribute value inside single quotes. The reason for this is to help reduce bundle side as there no need for quotes escape.

[2016-10-22 11:01] bigopon commented on #12
And thanks for your hardwork 😄 . autocomplete is quiet awesome now

[2016-10-22 11:39] eriklieben opened #13 "Being able to configure how autocomplete completes quotes"
**I'm submitting a feature request**

**Current behavior:**
Autocomplete completes by default with double quotes.

[code]

**What is the expected behavior?**
Allow users to configure this to choose from the following options:

- single quotes
- double quotes

**What is the motivation / use case for changing the behavior?**
Give users more freedom to use their preference, instead of forcing double

[2016-10-22 12:00] eriklieben commented on #12
The old autocomplete stopped working for some unknown reason in version 1.6.0 of vscode. It simply didn't add the auto-complete suggestions anymore. Bit of bad timing for me, but I am happy it is resolved now :-)

I was already looking at re-writing it to a separate service/ process, so it would not interfering with the UI rendering and makes space for doing more processor intensive work during th

[2016-10-22 18:12] shahabganji commented on #9
Dear @eriklieben ,
I've tried version 0.1.8 and it sounds that it is working properly. I will do extra checks the next day and if any problem exists I'll let you know.

Thanks for your time and support

[2016-10-22 18:15] #9 closed

[2016-10-24 01:22] bigopon opened #14 "As Element should have default option of literal value instead of binding"
**I'm submitting a bug report**

* **Extension Version:**
0.1.8

**Please tell us about your environment:**
* **Operating System:**
all

* **Visual studio code version:**
all

**Current behavior:**
`as-element` shouldn't have any binding options OR have a default option of literal value. As normally this is the expected default behavior

* **What is the motivation / use case for changing the behav

[2016-10-24 07:22] #13 closed

[2016-10-24 08:23] #14 closed

[2016-10-24 11:13] bigopon opened #17 "Focus binding should have option like a normal non bubbling event, together with binding options"
**I'm submitting a bug report**

* **Extension Version:**
0.1.8

**Please tell us about your environment:**
* **Operating System:**
all

* **Visual studio code version:**
all

* **Current behavior:**
focus event binding is special in Aurelia, but not yet fully supported in the extension. Currently only have 2 options: `call` & `trigger`

* **Expected/desired behavior:**
`focus` binding should have

[2016-10-24 14:12] fedoranimus commented on #10
I just updated to v0.1.7 and the issues are resolved.

![image](https://cloud.githubusercontent.com/assets/179260/19649058/564941ac-99d2-11e6-854e-31fe4b39cd24.png)

[2016-10-24 17:16] eriklieben commented on #10
Fantastic, thanks for confirming.

[2016-10-24 17:16] #10 closed

[2016-10-24 17:23] #17 closed

[2016-10-24 17:23] eriklieben commented on #17
Thanks!

Updated the code, will release a new version soon with this fix and some other fixes.

[2016-10-24 23:36] bigopon opened #18 "[Feature Request] Support for emmet"
**I'm submitting a feature request**

* **Extension Version:**
0.1.8

**Please tell us about your environment:**
* **Operating System:**
all

* **Visual studio code version:**
all

* **Current behavior:**
Autocomplete only works in html

* **Expected/desired behavior:**
It would be great if the extension also supports auto complete in emmet. (There is already another extension that supports both h

[2016-10-25 15:03] eriklieben commented on #18
Could you give an example of the emmet command you would like to perform/ in which case you would expect the autocomplete to pop up?
[code]
works, but I think you mean something else right?

[2016-10-26 03:11] bigopon commented on #18
In this example

[code]

It's good that i can have all binding options

[2016-11-04 12:02] Krossmaskinen opened #19 "HTML attributes containing values with *.ref* break syntax highlighting"
**I'm submitting a bug report**

* **Extension Version:**
0.1.9

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.7.1

**Screenshot of incorrect highlight**
![vscode html highlight bug](https://cloud.githubusercontent.com/assets/1162364/20004649/e8f42dbe-a28d-11e6-93e3-ea6ac93179e4.jpg)

**Reproduce:**
1. Set syntax highlighting to

[2016-11-04 13:12] sysanin opened #20 "Incorrect js code highlight"
**I'm submitting a bug report**

* **Extension Version:**
0.1.9

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.7.1

**Screenshot of incorrect highlight**
http://i.imgur.com/dEZAk3N.png

**Summary:**
Aurelia Dark+ theme incorrectly highlights js (`this` / `super` words)

[2016-11-05 20:17] eriklieben commented on #20
Thanks for the bug report.

This is caused by the new grammar/ modified themes in >1.7.0 (https://code.visualstudio.com/updates#_improved-typescript-and-javascript-grammar).

This issue will be resolved in the next release, I've updated the Aurelia themes with the changes made in the original Dark+ themes.

[2016-11-05 20:18] #20 closed

[2016-11-05 20:19] eriklieben commented on #19
Thanks for the bug report, I am sorry for the inconvenience.

I will look into this and fix it.

[2016-11-05 20:37] #19 closed

[2016-11-05 20:38] eriklieben commented on #19
The issue will be resolved in 0.1.10/ the next release of the extension.

Thanks again!

[2016-11-05 20:58] Krossmaskinen commented on #19
Thank YOU!

[2016-11-09 00:03] krokofant opened #22 "Unclear what the auto-complete can complete"
In the GIF in the marketplace and README it's unclear what kinds of autocomplete is supported. The GIF shows support for events and attribute stuff but it also shows insertion of *variables and function names*.

Is this supported?

macOS 10.11.6
VSCode: 1.7.1
extension-version: 0.1.9
langugage: TypeScript

![](https://raw.githubusercontent.com/aurelia/vscode-extension/master/images/aurelia-autocom

[2016-11-09 06:57] eriklieben commented on #22
Sorry, I need to update that gif and match it with the current state.

(The insertion of variables and functions are typed by hand in the above gif, just speeded up to make the gif smaller, but I see why that is causing confusion.)

Somewhere between version 1.5 and 1.6 of vs code the implementation you see above stopped working due to changes in how vs code handles things (I guess, the plugin cod

[2016-11-12 18:05] EisenbergEffect opened #23 "feat(syntax-highlight): support the Aurelia UX interpolation syntax in CSS"
The Aurelia UX library enables a style system in which you can place `${...}` bindings throughout your CSS code. Unfortunately, VS Code gets confused and thinks these are syntax errors. It would be nice to enable this plugin to recognize that syntax and colorize it similar to how it is done in HTML.

[2016-11-22 09:56] jrieken opened #25 "Adopt SnippetString API"
With the December release VS Code will have real API to define a CompletionItem that is inserted as snippet, for details see https://github.com/Microsoft/vscode/issues/3210.

In short, we now support a subset of the more common TextMate syntax: `$1`, `$2` etc define tabstops, `${1:value}` and `${2:this is${3:nested}}` placeholders, and `$0` is for the final tabstop.

The API for this is contained

[2016-11-22 19:02] EisenbergEffect commented on #25
@jrieken Thanks for the heads up. We really appreciate you reaching out to us! Also, whenever you are at Microsoft's Redmond campus in the future, ping me. I'd love to meet and talk with you about your work on VS Code.

[2016-11-23 04:16] EisenbergEffect commented on #25
@eriklieben We should definitely move on this when we can to stay ahead of these changes.

[2016-11-23 19:37] eriklieben commented on #25
Yes! The above is incredible! Thanks @jrieken!

When the old autocompleted stopped working in 1.6.0, I tried to push TextMate snippet string into the insertText param :-) And discovered it didn't work that way, then I started looking at the custom implementation of the HTML language server.  Was looking at how I could refactor that code to be easier to extend and basically, accept TextMate snippet

[2016-12-01 20:33] eriklieben commented on #25
@jrieken do you maybe know how to get around this issue/ did you also experience this? / how did you solve it :-)

Repository:\vscode-extension [snippetString ≡]> npm install vscode-languageserver-types@next -D
aurelia@0.1.11 Repository:\vscode-extension
`-- vscode-languageserver-types@3.0.1-alpha.6  **invalid**

On trying to install the vnext package of the types I get invalid on each of the 3.0.

[2016-12-02 08:54] jrieken commented on #25
@aeschli or @dbaeumer will know

[2016-12-16 14:50] dbaeumer commented on #25
@eriklieben just test this and it works for me and installs `vscode-languageserver-types@3.0.1-alpha.9`. Are you still seeing the issue.

[2016-12-17 20:59] javadbat opened #27 "Can you add this plugin for vs 2015"
is this plugin can use in vs2015 how can i add it?

[2016-12-18 21:30] eriklieben commented on #27
Hi @javadbat,

This is an extension for visual studio code editor (https://code.visualstudio.com/) and not for the full featured version of Visual Studio.

I found one for the full featured version in the visual studio marketplace (https://marketplace.visualstudio.com/items?itemName=MadsKristensen.AureliaPack) that adds a set of snippets to Visual Studio 2015/17.

Hope this helps,

Erik

[2016-12-18 21:30] #27 closed

[2016-12-19 13:33] #25 closed

[2016-12-19 13:34] eriklieben commented on #25
@dbaeumer created a new branch and installation works now :-) Thanks!

@jrieken new version of aurelia extension is on it's way with SnippetString, sorry for the long delay.

Thanks all!

[2016-12-30 11:33] rmja opened #29 "feat(file-toggle): Toggle between html and js/ts file"
**I'm submitting a feature request**

In Sublime-Text, when setup currectly, one can toggle between files with the same name, but with different extension using "Alt-O" (O for Other). It is intended for toggling between header and source file in C, but it is also really useful in Aurelia because of the filename convention.

It is something like this plugin but for different extensions: https://mar

[2016-12-31 09:24] eriklieben commented on #29
Hi,

Thanks for submitting a feature request.

I guess we could probably try to implement the [F12 go to definition](https://code.visualstudio.com/docs/editor/editingevolved#_go-to-definition) on classes for this or [the peek feature](https://code.visualstudio.com/docs/editor/editingevolved#_peek) of vscode and then only do it in cases where there is no typescript definition.

So for example, when

[2016-12-31 12:34] rmja commented on #29
I think my use case is much simpler than what you propose. What I want is, for example in a typescript project to toggle between the html view and the ts view model.

Ao, if app.ts is open, then simply hit Ctrl+O to open the app.html file. Hitting Ctrl+O again, and you are back in app.ts.

[2017-01-02 22:55] aluanhaddad commented on #29
Exactly this. In fact it could be seen as an extension of the same conventions that Aurelia leverages so elegantly to compose applications at runtime.

[2017-01-06 07:23] unional opened #30 "TypeScript Language Service extension"
**I'm submitting a feature request**

A placeholder issue for utilizing the extension framework as it lands: https://github.com/Microsoft/TypeScript/issues/6508

It should simplify and improve this extension quite a bit.

[2017-01-10 13:52] eamodio opened #31 "Latest vscode insiders breaks the Aurelia Dark+ theme (braces are black)"
**I'm submitting a bug report**

* **Extension Version:**
0.2.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2

* **Visual studio code version:**
1.9.0-insider 31997b32c354b0531f296379cec364b094ee362d

**Screenshot of incorrect highlight**
![screen shot 2017-01-10 at 8 51 23 am](https://cloud.githubusercontent.com/assets/641685/21808624/118be402-d712-11e6-8619-8b58

[2017-01-11 09:13] eriklieben commented on #31
Thanks for the bug report!

I will look into this and check if we could release a new version that resolves this, but doesn't break the current production version of vscode.

For now (If the current situation makes it unusable for you), a quick fix would be to do this:

Open up the file

```C:\Users\erik.lieben\.vscode-insiders\extensions\AureliaEffect.aurelia-0.2.0\themes\dark_vs.json```
(will be

[2017-01-11 14:17] eamodio commented on #31
@eriklieben thanks! No worries on the quick fix -- I just mainly wanted to file this as a heads-up

[2017-01-18 23:58] djensen47 opened #32 "Warning for camel case attributes in templates"
**I'm submitting a feature request**
If an attribute or option is camel-cased in a template, trigger a warning.

**What is the motivation / use case for changing the behavior?**
 I keep running into an issue where the attribute in the model is camel cased `productId` so I use the same thing in the template when I should be using `product-id`. It would be nice to get a yellow underlined warning abo

[2017-01-19 06:37] eriklieben commented on #32
I'm currently on limited internet on my phone so can't check everything, will take a deeper look at this next week.

Thanks for the feature request.

Currently this functionality should work when you add bind, one-way, one-time, two-way, call, delegate or trigger behind the camel cased attribute. Is that working on your machine? If it is, could you explain your use case a bit more so we make the c

[2017-01-19 08:46] MeirionHughes commented on #32
@djensen47 this can be checked with https://github.com/MeirionHughes/aurelia-template-lint

The aim in the next 6 months is to get the next version up and running (its a major rework) and integrated in both the Aurelia CLI and Aurelia VSCode Ext projects.

[2017-01-19 17:57] djensen47 commented on #32
@eriklieben I found what the issue is. It works fine for attributes but I'm I'm seeing an issue with options on a custom attribute.

For instance, in this screenshot `mdValue` shows an error but `valueId` does not.

![screen shot 2017-01-19 at 9 57 04 am](https://cloud.githubusercontent.com/assets/527865/22118707/af44c17e-de2d-11e6-8e6f-6122d34f9a98.png)

[2017-02-02 19:21] eriklieben commented on #31
Fixed in 0.2.1

Still looking at why the syntax highlighting of aurelia elements in purple is broken.
Can't find yet what they modified in vscode 1.9.0 that breaks this.

[2017-02-02 19:29] maroy1986 commented on #31
That fix the black bracket but now the aurelia keywords in HTML code aren't purple highlight anymore.

[2017-02-02 19:47] Deterus opened #33 "[Feature Request] Solarized Theme Addition"
**I'm submitting a feature request**
Would it be possible for a solarized light and dark theme to be added in addition to the default light and dark themes?

[2017-02-02 21:04] eriklieben commented on #31
v0.2.2 fixes this.

They changed the way styles work for vscode. In version 1.8.0 and lower it would inherit a style rule . So setting "html.au" to purple would color all the separate items. In 1.9.0 of vscode we now need to specify all the tags separate like "compose.html.au", "router-view.html.au" to color purple.

[2017-02-02 21:06] maroy1986 commented on #31
Wow that was fast! I confirm that v.0.2.2 fix the issue :) Thanks!

[2017-02-02 21:56] eriklieben commented on #33
We can probably add them, only need to convert them from the tmlanguage xml format to json for easy usage (dev wise).

[2017-02-02 21:57] #31 closed

[2017-02-03 09:50] gbreeze opened #34 "css/scss theme"
Hi, I like the html theme with the aurelia highlights a lot, but the css/scss theme looks compared to the native theme boring. Would be good if we can use the aurelia theme for html only.

Best regards,
George

[2017-02-03 10:07] eriklieben commented on #34
Thanks for the feedback!

In version 1.9.0 of vscode some changed where applied to the themes.
Published a quick fix yesterday to resolve them, which looked at first if everything worked again, but seems like there is more to it.

Will look into it.

[2017-02-03 12:12] eriklieben commented on #34
Will release a new version later on today that contains this fix.

[2017-02-03 16:58] #33 closed

[2017-02-03 17:03] eriklieben commented on #34
Fixed in release 0.2.3

[2017-02-03 17:04] eriklieben commented on #33
Added in release 0.2.3

Aurelia Solarized dark and Aurelia Solarized light are now included with the extension.

Enjoy.

[2017-02-03 19:03] Deterus commented on #33
Thank you so much!!!! I really appreciate it!

[2017-02-08 02:07] bigopon opened #35 "[Bug] Special element with opening tag ended with special attribute causes incorrect highlighting"
**I'm submitting a bug report**

* **Extension Version:**
0.2.3

**Please tell us about your environment:**
* **Screenshot of incorrect highlight**
![Incorrect Highlight](http://image.prntscr.com/image/53fe6ff0659543608c9f0e887fa9764a.png)

* **Screenshot of correct highlight**
![Correct Highlight](http://image.prntscr.com/image/90aee6dd6770447887295ae52bd9b628.png)

**Current behavior:**

**Expec

[2017-02-08 13:45] eriklieben commented on #35
Thanks for submitting a bug request, I am sorry you had an inconvenient experience using the extension.

I will look into it and resolve the issue later today (I think/ if my planning won't change :-))

[2017-02-08 19:09] #35 closed

[2017-02-08 19:47] eriklieben commented on #35
version 0.2.4 is released which contains a fix for this.

Thanks again!

[2017-02-08 23:21] bigopon commented on #35
Great 👍

[2017-02-10 22:24] RichiCoder1 opened #36 "feat(languageserver): View Model Intellisense in View"
This is a big ask, but it would be great to have auto completion of a view model's properties/methods in the associated view when doing interpolation, bindings, and general expressions. Squiggles when binding to a property/method that doesn't exist on the associated VM (especially w/ typescript) would also be terrific.

[2017-02-11 08:08] MeirionHughes commented on #36
Its coming... next version of the [linter ](https://github.com/MeirionHughes/aurelia-template-lint) is going to feed the AST, Declaration info and Issues this extension. Progress has been a little slow in the last 3 months due to
* getting bogged down in a few edge cases that are extremely difficult to handle via reflection alone.
* a 7-10 month old baby that is awake until 11pm, or endlessly cryi

[2017-02-11 15:29] gbreeze commented on #34
HI, on the aurelia light themes everything is fine, but on the black themes there is still the same css/scss highlighting issue.

aurelia black theme:
![image](https://cloud.githubusercontent.com/assets/1906169/22854893/d2c61b60-f076-11e6-8b58-f9f2c5afe4f2.png)

native theme:
![image](https://cloud.githubusercontent.com/assets/1906169/22854897/0cf4c278-f077-11e6-8238-a0ec1e55bfcb.png)

[2017-02-11 18:25] RichiCoder1 commented on #36
Awesome! And you have my sincerest condolences ;).

[2017-02-13 19:50] #34 closed

[2017-02-14 13:36] gbreeze opened #37 "Wrong auto completion in HTML files"
Example:
`if.bi` completes to `if.if.bind=""`

Expected: `if.bind=""`

Only aurelia related 'keys' are affected.

![autocomplete](https://cloud.githubusercontent.com/assets/1906169/22930706/e776e498-f2c1-11e6-92de-b66c2964f68a.gif)

[2017-02-15 18:56] eriklieben commented on #37
Thanks for the bug report, I am sorry you are experiencing these issues.

I think this is due to the changes in vscode to move to textmate snippetstrings. They removed the range property which first could be provided to tell vscode what to replace.

Will look into how to resolve this issue.

[2017-02-15 19:12] #37 closed

[2017-02-15 19:17] eriklieben commented on #37
Resolved in 0.2.6, sorry for the double release, it was easier to fix than I assumed.
I think the other issue with the dark black theme and CSS should also be resolved.

[2017-02-16 10:52] gbreeze commented on #37
Thanks, works fine now. 👍

[2017-02-16 10:54] gbreeze commented on #34
Thanks, works now fine to ;-). 👍

[2017-02-17 18:43] eamodio commented on #29
@eriklieben I was thinking of attempting to implement something for this -- any objection or direction on what you'd want to see? I was thinking of adding a command (so shortcuts can be applied) and maybe a menu option on the editor/title menu (ideally in the `navigation` group with an icon -- so it would be a toolbar button toggle).

Unrelated, but somewhat related -- I would also love to see if

[2017-02-19 10:48] eriklieben commented on #29
None at all that would be great.

The only thing I am worried about is how we handle the edge cases:

Other view with decorator:
[code]

With method in vm:
[code]
And I think there probably also is another one to override it once for your entire app. But we could also just skip those for now and just implement the switching to the same file name and integrate the edge cases once we got things in p

[2017-02-19 16:35] eamodio commented on #29
@eriklieben Honestly I was thinking of being really naive, and really just do something like look at the current filename, and if its `.html` look for the existence of a `.ts` or `.js` file with the same name and vice versa. It won't work all the time (and could be wrong some of the time too), but just that alone would be a big win for me (and others on my team)

If that doesn't work for this exte

[2017-02-19 16:38] eriklieben commented on #29
That would work great!

We can just implement the more complex scenario's later on when the time is there.

[2017-02-22 09:33] rmja commented on #29
@eamodio You have made me the happiest dev of the day, thank you!

[2017-02-22 15:52] eamodio commented on #29
@rmja thanks for the kind words! :)

[2017-02-22 16:07] eamodio commented on #29
FYI, if people are interested in this feature for things other than just Aurelia I'm also working on a new extension [Find Related](https://marketplace.visualstudio.com/items?itemName=eamodio.find-related). It is still in the very early stages but its coming along -- and would love to get help building out some rulesets to include

[2017-03-03 10:07] kobusvanwyk opened #39 "Use and array of data to generate, for example, a list"

[2017-03-03 14:46] #39 closed

[2017-03-13 23:59] justindra opened #40 "bug(html-highlighting): When using certain words like 'view', messes up highlighting"
**I'm submitting a bug report**

* **Extension Version:**
0.1.4

**Please tell us about your environment:**
* **Operating System:**
Linux (ArchLinux) & Windows 10

* **Visual studio code version:**
1.8.1

**Screenshot of incorrect highlight**
With aurelia extension enabled
![aur1](https://cloud.githubusercontent.com/assets/4289486/23880004/8a68f1ce-089c-11e7-966f-0389f2945b57.png)

Without aurelia

[2017-03-14 15:14] eriklieben commented on #40
This issue was resolved in version 0.1.5 of the extension.

Can you try to upgrade to 0.2.4 the latest version of the extension to see if the issue still occurs in your setup?

Thanks,

Erik

[2017-03-21 09:01] aluanhaddad commented on #29
@eamodio you're awesome. I'm about to start a new Aurelia project (I've been in Angular 2 hell for the last 8 months but certainly love the Angular file switcher plugin), and I'm excited I can use this for the new Aurelia project, especially as I am responsible for selecting client side development tools. Thank you! ❤️

[2017-03-21 12:43] eamodio commented on #29
@aluanhaddad Wow -- thanks so much for the kind words!

[2017-04-16 10:02] timfish commented on #40
I'm using `0.2.7` and see the same issue with `label`:

![image](https://cloud.githubusercontent.com/assets/1150298/25070372/66304414-229c-11e7-9a3a-0601499006ef.png)

[2017-04-17 18:32] eriklieben opened #41 "syntax highlighting: inline & block elements with a dash are highlighted incorrectly"
@timfish it's a different bug.
It's because the inline and block elements that are known use are regex can't / should ignore the dash in a match. Will fix this tommorrow.

I'm using 0.2.7 and see a similar issue with existing HTML elements like label:

![66304414-229c-11e7-9a3a-0601499006ef](https://cloud.githubusercontent.com/assets/1912596/25099440/859de4ee-23ac-11e7-9e1a-05b809279039.png)

With

[2017-04-17 18:32] #40 closed

[2017-04-19 17:42] #41 closed

[2017-04-26 04:34] ChrisBriggsy opened #43 "Request textDocument/hover failed with message: Cannot read property '1' of null"
**I'm submitting a bug report**

* **Extension Version:**
0.3.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.11.2

**Current behavior:**
Since updating the extension, when I hover over an aurelia element in my html the following begins to appear constantly in my output window.

[code]

[2017-04-26 08:02] eriklieben commented on #43
Will create a fix and release this later today when I am back home

[2017-04-26 12:31] chaskim commented on #43
I don't know if this will help, but just to provide some more details, the problem only occurs for me in inline styles in an .html file:

[code]

In the above example, if I hover over any of the css properties or values (like `ul`, `margin`, or `none`), the error appears in the output window. However, hovering over any html element is okay, at least for me (macOS 10.11.6, VS Code 1.11.2).

[2017-04-26 19:18] eriklieben commented on #43
Thanks!

version 0.3.2 has a quick fix show at least the annoying error is gone.

Need to investigate it deeper to see why it isn't providing hover information in cases where it should, like for example with the class attribute.

Sorry for the inconvenience.

[2017-04-26 23:24] bigopon opened #44 "feat(template-linting): Notify on attr with camel case in mutiple bindings"
Im not sure if this issue should stay in the xtension or main aurelia repo.
I got the problem when coming back to Aurelia after 2 weeks. It was the custom attribute with multiple bindings. So the html was like this

[code]

It didnt work as expected becaused i wrote `linkedWith` instead of `linked-with`. It took me 15 to 30 mins every time i come back here after awhile.

I think it will take new a

[2017-04-27 06:37] eriklieben commented on #44
This will be resolved once we are able to integrate the linter into the vscode extension, see https://github.com/aurelia/vscode-extension/issues/32 for more information.

[2017-04-27 19:23] eamodio commented on #30
FYI it looks like this is now released: https://blogs.msdn.microsoft.com/typescript/2017/04/27/announcing-typescript-2-3/

[2017-05-03 14:54] doronguttman opened #45 "Latest version breaks HTML formatting functionality"
**I'm submitting a bug report**

* **Extension Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Visual studio code version:**
0.3.2

**HTML/JS/TS of incorrect highlight**
any HTML

**Current behavior:**
Pressing Alt-Shift-F does not format the document; the format document option is gone from the

[2017-05-03 15:35] kuechlerm commented on #45
I can see that html files have now the language mode "aurelia HTML" by default.

Why is this necessary? Now I have to pick between aurelia-syntax support and formatting.

[2017-05-04 01:21] bryceg commented on #45
This also breaks any icon packs

[2017-05-04 10:25] Lichtjaeger commented on #45
It also breaks script block and style block syntax highlighting.

[2017-05-04 12:14] eriklieben commented on #45
Thanks for the feedback.

Will look into this tonight, might need to remove the custom language again and let it override the default html so plugins/ tools for html stay working.

[2017-05-04 12:26] tetious commented on #45
This also breaks tag pair (<div></div>) highlighting to suss out those giant div sandwiches. :)

[2017-05-04 19:00] #45 closed

[2017-05-04 19:02] eriklieben commented on #45
Everything is set back to html, I think all the above issues are resolved with that. Version 0.3.3 is on it's way, just waiting for build to complete.

[2017-05-04 19:13] #43 closed

[2017-05-22 10:24] B3zo0 opened #46 "Creating an empty html gives UnhandledPromiseRejectionWarning"
**I'm submitting a bug report**

* **Extension Version:**
0.3.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.12.2

**Current behavior:**
Creating an empty html gives this error:
```(node:5524) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 6): TypeError: Cannot read property 'start' of undefined```

[2017-05-23 05:33] eriklieben commented on #46
Thanks for the bug report, I am sorry you are experiencing these issues.

I will look into it on Thursday and try to provide a fix.

[2017-05-29 11:32] B3zo0 opened #47 "Request textDocument/completion failed after opening an html tag at a custom element"
**I'm submitting a bug report**

* **Extension Version:**
0.3.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.12.2

**Current behavior:**
Starting to type an html tag after a custom element gives an error: ```Request textDocument/completion failed with message: Cannot read property 'permittedChildren' of undefined
  Code: -32603

[2017-05-29 18:09] #46 closed

[2017-05-29 18:18] #47 closed

[2017-05-29 18:19] eriklieben commented on #47
Thank you for the bug request!, I am sorry you are experiencing issues.
The screencast was very helpful to reproduce the issue.

[2017-05-29 18:23] eriklieben commented on #47
New version is released, which should resolve the above issues and some others.
Thank you for your help in resolving the bugs.

## [0.3.4](https://github.com/aurelia/vscode-extension/compare/0.3.3...v0.3.4) (2017-05-29)

### Bug Fixes

* **auto-complete:** add submit event auto complete to form element ([b03ecd2](https://github.com/aurelia/vscode-extension/commit/b03ecd2))
* **auto-complete:** don

[2017-06-03 04:24] bigopon commented on #23
@eriklieben hi, how is this feature going ?

[2017-06-04 11:20] eriklieben commented on #23
To do this we need to implement a custom language, so for example 'Aurelia CSS' and then basically wrap it around the CSS language server and strip out the warnings related to ```${...}``` syntax.

The issue I still didn't figure out is how to handle the custom language and other extensions. When introducing a custom language other extensions that support CSS language won't support Aurelia CSS, wh

[2017-06-04 11:41] eriklieben commented on #18
Version 0.3.0 and up of the extension will open the auto-complete box on the character ```[```.

![image](https://cloud.githubusercontent.com/assets/1912596/26761155/c58b1858-492a-11e7-82c4-32a2d057fd3b.png)

I still need to implement the case in which you add a data binding later on, so in the case of ```focus="foo"``` that you can do focus.="foo" and it will open binding completion.

[2017-06-04 12:14] bigopon commented on #18
Just awesome. Love it!

[2017-06-04 13:04] bigopon commented on #23
Thanks for the explanation.

[2017-06-04 13:24] eriklieben commented on #22
I have completely rewritten the auto complete functionality as of version 0.3.0 and started documenting it over here https://github.com/aurelia/vscode-extension/wiki/Autocomplete.

(The support for typing a dot after an attribute is back working again, as it was in the gif animation)

[2017-06-04 13:42] bigopon commented on #18
@eriklieben  Will it support multiple bindings ?

[code]

[2017-06-04 16:53] eriklieben commented on #18
Ah cool, didn't know that was possible. Not atm, but I think I can probably add that.
Only need to detect if you are currently in the 'root' between the `[` `]` or inside the attribute value because otherwise, it would also show there.

Just as a reference for myself:
[code]

[2017-07-20 06:42] jmvtrinidad commented on #36
What is the status for this? This will be an awesome feature.

[2017-07-20 19:27] eriklieben commented on #36
I am working on making the vscode extension more aware of your code to enable this.

The dev version is currently aware of the things inside your HTML, so it knows which bindings you used and require statements you included, see https://vimeo.com/220275150 for a small demo. Currently, it also understands your public methods/ properties from ts/js files, still need to do a small refactor on that to

[2017-07-21 04:57] jmvtrinidad commented on #36
Nice, is there a way to try this feature?

[2017-07-25 12:20] enrico-padovani opened #48 "bug(syntax-tokenizer): I18n colorization issue"
**I'm submitting a bug report**

* **Extension Version:**
0.3.4

* **Operating System:**
Windows 10

* **Visual studio code version:**
1.14.2

**Screenshot of incorrect highlight**
![image](https://user-images.githubusercontent.com/7766472/28571625-10a75b58-7144-11e7-99cd-cdb552e81a5a.png)

**Current behavior:**
The string interpolation for params are not correctly highlighted.

* **What is the ex

[2017-07-27 05:34] eriklieben commented on #48
Thanks for the bug report, I am sorry for the inconvenience.

I will look into this and fix it.

[2017-07-27 05:37] eriklieben commented on #36
Need to look into that, because the vscode marketplace currently doesn't support releasing a beta or preview channel to release preview builds.

[2017-08-18 16:52] diegohb opened #49 "New setting to be able to provde inclusion or exclusion globs (dirs/files)"
It's currently showing html problems reported for files inside of node_modules where innerHTML.bind="" in some files.

![image](https://user-images.githubusercontent.com/3726681/29468903-1d292810-8414-11e7-88d6-e1018b4ea872.png)

[2017-09-11 12:19] razvan-panda commented on #43
I am having same problem with Visual Studio Code using the latest HIE.

[2017-09-21 07:19] #22 closed

[2017-09-21 07:44] eriklieben opened #50 "remove custom Aurelia themes and add editor.tokenColorCustomizations"
VSCode now supports configuring custom colors for tokens from extensions: https://github.com/Microsoft/vscode/issues/14309

It works in the vs code insider's preview, so it will probably be released in the next release.

This allows us to remove the current cloned themes and by default support the purple color for Aurelia scopes in all themes, and make this adjustable by the user with the regular

[2017-09-21 07:58] eriklieben commented on #49
Thank you very much for submitting an issue.

I will look into this.
I am not sure if it should even give a warning about ```innerHTML`.bind=""``` that might be a bug.

[2017-09-21 08:01] eriklieben commented on #44
I will close this issue and keep track of it in https://github.com/aurelia/vscode-extension/issues/32 which is about the same issue.

[2017-09-21 08:01] #44 closed

[2017-09-21 08:03] eriklieben commented on #36
Work for this feature is in this branch https://github.com/aurelia/vscode-extension/tree/languageserver-documents

[2017-09-21 16:23] hfitzwater opened #51 "Open related file feature should respect split panes"
**I'm submitting a feature request**

* **Extension Version:**
0.3.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.16.1

**Current behavior:**
The open related file feature does not respect split panes

**Expected/desired behavior:**
The related file should be opened in the focused pane

[2017-10-07 07:33] eriklieben opened #52 "feat(syntax-highlight): syntax color highlight the else keyword"
In the second div the else attribute should be highlighted.

[code]

[2017-10-07 07:37] eriklieben opened #53 "feat(auto-complete): add from-view / to-view to data binding suggests"
- from-view bindings - This is a one-way binding that only pushes from the view to the model. To create symmetry, we've also added the to-view binding as an alias to our standard one-time binding.

Add from-view binding to data binding suggestions.

Add config option to configure the usage of:

- from-view / to-view / one-time
- from-view / to-view
- from-view / one-time

And figure out what would

[2017-10-07 07:46] eriklieben opened #54 "bug(code-fix): use attribute-map to determinate attribute casing"
The code-fix / warning should make use of the exeption cases in the attribute map to determinate the correct way to warn for possible errors.

https://github.com/aurelia/templating-binding/blob/master/src/attribute-map.js#L16

[2017-10-09 14:19] eriklieben opened #55 "feat(syntax-highlight): Add the let command"
Syntax color highlight the usage of
[code]

[2017-12-10 15:31] #48 closed

[2017-12-21 14:48] khuongduybui commented on #50
This setting is now available in Code Stable 1.9.

[2017-12-22 09:58] eriklieben opened #58 "feat(syntax-highlight): highlight virtual repeat for from aurelia-ui-virtualization-plugin"
https://ilikekillnerds.com/2016/02/aurelia-ui-virtualization-plugin/

```virtual-repeat```

[code]

[2017-12-28 08:59] eriklieben commented on #50
It's currently only working when you manually add it to your custom user/workspace settings.

Doesn't seem to work as a default configuration setting yet :-(

[2017-12-28 09:08] eriklieben commented on #49
As a reference for myself, this should make use of the attribute map to get the correct case:

https://github.com/aurelia/templating-binding/blob/master/src/attribute-map.js#L16

[2017-12-29 09:50] #54 closed

[2017-12-29 10:07] eriklieben commented on #49
https://github.com/aurelia/vscode-extension/issues/54 fixes the above warnings (allows innerHTML because it is allowed) and resolves your current issue.

The mechanism used to provide these hints is called Code Actions. I think disabling this to a specific folder or path is functionality that should be implemented by the VSCode team generic for all VSCode extensions and not inside of an extension.

[2017-12-29 10:08] #49 closed

[2017-12-29 10:08] #51 closed

[2017-12-29 10:16] bigopon commented on #23
I think this can be closed as ux switched to css variables

[2017-12-29 10:26] #55 closed

[2017-12-29 10:32] eriklieben opened #61 "feat(syntax-highlight): highlight from-view / to-view"
[code]

[2017-12-29 10:59] #61 closed

[2017-12-29 11:57] eriklieben commented on #53
Changed it to a configurable setting for the user, which can be set for all or per workspace/project (default functionality of VSCode).

see: https://youtu.be/_zziyhlPwfs

Remaining question to answer: What would be a proper default setting for this configuration?

1) add all (bind / one-way / two-way / one-time / to-view / from-view)
feels like it adds a lot of noise to the list and might be conf

[2017-12-29 12:39] eriklieben commented on #23
Cool, thanks!

[2017-12-29 12:39] #23 closed

[2017-12-29 20:06] bigopon commented on #53
If it's easy to make the list configurable, then I think it should be 2 with an option to be either 1/ 3. Otherwise it's should be 3. `one-way` is now deprecated, prolonging it usage would conflict with intention in the core.

[2017-12-30 09:22] eriklieben commented on #53
Thanks!

An idea based on your suggestion; this might be a good option for now:

![one-way-deprecated](https://user-images.githubusercontent.com/1912596/34452977-49d5877e-ed4a-11e7-8983-4d8a0897e1dc.png)

It's a bit more cloudy in the autocomplete, but the user can remove one-way in the configuration settings. Existing users can continue using one-way for now but get a signal that it is deprecated

[2017-12-30 09:25] eriklieben opened #65 "feat(bindings): create a code action & diagnostic warning to convert 'one-way' to 'to-view'"
ref: https://github.com/aurelia/vscode-extension/issues/53

one-way is deprecated. It would be nice if you get warnings (light bulb) and can easily move to 'to-view' using a code action.

[2017-12-30 11:18] bigopon commented on #53
That's awesome. Won't alienate existing user, and promote `to-view` 👍

[2017-12-30 11:58] zewa666 commented on #53
Lol I didnt get that either but the deprication warning does a perfect job :+1:

[2017-12-30 12:58] #53 closed

[2017-12-30 13:41] enrico-padovani commented on #36
Hi, just for an update: any plans to add this feature anytime soon? It will really provide a next level of tooling! Cheers

[2017-12-31 11:28] eriklieben commented on #65
resolved by #66

[2017-12-31 11:28] #65 closed

[2018-01-26 14:09] enrico-padovani opened #70 "Update to 1.0.0 - Error: Cannot find module 'typescript'"
**I'm submitting a bug report**

* **Extension Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.19.3

**Error**
![untitled](https://user-images.githubusercontent.com/7766472/35443293-e3dd846e-02aa-11e8-8c6d-3da6c90938c8.png)
 at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (modul

[2018-01-26 14:19] Jule- commented on #70
Same here!
I do not know about you @enrico-padovani but I am on `VS Code - Insiders`, maybe it is linked.

[2018-01-26 14:20] enrico-padovani commented on #70
No @Jule, I've the "blue" version :)

[2018-01-26 14:21] Jule- commented on #70
Yeah I have just seen your version... Mine is `1.20.0-insider`. ;)

[2018-01-26 18:46] maroy1986 commented on #70
Same here, VSCode version 1.19.3.

[2018-01-27 07:40] bigopon opened #72 "Invalid linting for `tabindex`"
![image](https://user-images.githubusercontent.com/9994529/35469811-64b1bede-0391-11e8-863c-b8cb2818cd51.png)

[2018-01-27 07:45] bigopon commented on #72
Same for text content

![image](https://user-images.githubusercontent.com/9994529/35469843-1d568d66-0392-11e8-8d50-5f7b97d2fff1.png)

or innerhtml

![image](https://user-images.githubusercontent.com/9994529/35469848-3b75f3e0-0392-11e8-89d6-1987f3af5182.png)

[2018-01-27 11:11] #72 closed

[2018-01-27 12:24] eriklieben commented on #70
@maroy1986 thank you for the fix!

This issue should be resolved in the latest release (v1.0.1)

[2018-01-27 12:24] #70 closed

[2018-01-27 20:34] bigopon opened #74 "Error with view model intellisense"
I do not know why the error happen and I could not see any information related to document being parsed in the stack. I guess maybe some info where it starts to fail would be great, below is the log I got

[code]

[2018-01-28 09:01] eriklieben commented on #74
Thanks! Fixed.

I've should have written unit tests instead of cowboy coding this :-)

[2018-01-28 09:04] #74 closed

[2018-01-28 09:04] bigopon commented on #74
@eriklieben cowboy is cool as long as you fix it promptly like this 👍 😄

[2018-01-29 03:13] bigopon opened #76 "error when used together with emmet"
I got the following error when using emmet:

![image](https://user-images.githubusercontent.com/9994529/35492030-58f625f8-04fe-11e8-8906-ddc6aef9f93a.png)

How to reproduce: Use emmet autocomplete for any tag with class. Error happens at `.` character

[2018-01-29 09:01] eriklieben commented on #72
bug was caused by the incorrect implementation of #54

[2018-02-07 13:57] larserikfinholt opened #77 "Emulating Single File Component (like .vue files) functionality"
**I'm submitting a feature request**
I'm aware of discussions to add SFC support to aurelia. As aurelia is focused on standards, it might not be a good idea to include a .au file (similar to the .vue file)

But what about emulting /simulate this functionality. This might give some ideas:

- If `my-comp.html` `my-comp.ts` and `my-comp.css` are all present in the same directory, then, when opening t

[2018-02-16 22:24] mjbvz opened #78 "Feedback on VS Code's proposed webview API"
I'm on the VS Code team and am investigating adding a new API for managing webviews. As your extension already is using webviews through the html preview, I'd like your feedback on our proposal.

You can find the first cut of new api [here](
https://github.com/Microsoft/vscode/blob/70b41f0b2dffe69f848abc0434bea9d2d11350a7/src/vs/vscode.proposed.d.ts#L528). It supersedes `TextDocumentContentProvide

[2018-02-19 02:20] darthInvad0r opened #79 "Too many spaces (around 20) after line containing string interpolation will cause editor to crash"
**I'm submitting a bug report**

* **Extension Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Windows 7 (I have confirmed on both)

* **Visual studio code version:**
1.20.1

**HTML/JS/TS of incorrect highlight**
![image](https://user-images.githubusercontent.com/34045881/36360334-8251d9d4-156a-11e8-8453-89b66bcd7ba6.png)
note: I have render whitespace

[2018-02-22 09:42] jmezach commented on #79
Just been hit by this as well. Very nasty bug. Any ETA on a fix for this?

[2018-02-23 04:22] darthInvad0r commented on #79
Turns out this will also crash if the spaces are non-contiguous, eg `${a} a a a a a a a a a a a a a a a ... ` will eventually crash.

[2018-02-23 04:59] jordan-ware commented on #79
also no spaces don't crash:
`${a}aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...`

it seems like the `Parser` from `aurelia-binding` may be the culprit, because the regex works fine. Haven't reproduced, but it could be possible that HTML that reproduces this issue will fail at run time.

[2018-02-23 10:20] eriklieben commented on #79
Was a bit overloaded with work this week, will try to look at this weekend

[2018-02-23 10:29] darthInvad0r commented on #79
For what it's worth, the extent of the digging around I did was to pop open the dev tools in code, and adding spaces will eventually result in some timeout errors appearing, each one taking double the time as the previous.

[2018-02-23 10:38] eriklieben commented on #79
Thanks! It's probably a bug in the new way it parses the HTML. I tried turning off the autocomplete and validation to see if that would help, but it still crashes :-(

My PC crashed this week after a windows update in combination with some Dell updates or something. So I lost my set up / need to get the code and set up the debug environment first / can take a quick peek into it atm.

I expect I ca

[2018-02-24 21:51] adriatic opened #80 "Disable jshint in vscode"
**I'm submitting a feature request**

* **Extension Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.20.1

**Current behavior:**

Builidng https://github.com/zewa666/aurelia-store-examples results with a ton of jshint "worthless" error messages like
![image](https://user-images.githubusercontent.com/2712405/3663539

[2018-02-24 22:57] Alexander-Taran commented on #80
![image](https://user-images.githubusercontent.com/1029452/36635844-3cd28f4a-19cd-11e8-958f-424144010327.png)
There is a possibility to do this programmatically.. maybe.. There is a discussion on weather to allow creation of new keys vs only modifying existing ones.
https://github.com/Microsoft/vscode/issues/1396

But how will extention know if it should set this key?
What if one explicitly added

[2018-02-25 11:49] eriklieben commented on #79
It's an issue with the regex for highlighting string interpolation.

I've turned off all custom code and added back regex statements one by one to find the thing that causes it.

It was introduced by this change: https://github.com/aurelia/vscode-extension/blob/09211588f17c81c8e5dac3949080de6946ad0a5b/syntaxes/html.json#L27-L40 when i tried to fix issue #48

Going to look at how to fix it.

[2018-02-25 12:06] eriklieben commented on #80
This is the default behavior of a vs code extensions. If you install an extension, it can respond to certain file types and will in most cases do this by default. In this case, js hint is responding to an open js file.

You can either disable the extension for a given workspace, like explained above or deinstall the complete extension if you don't use it at all.

[2018-02-25 15:45] adriatic commented on #80
@eriklieben based on your comment above, I am not sure whether you got my suggestion, so let me restate it, by reusing the **[text](https://github.com/zewa666/aurelia-store-examples/issues/3#issuecomment-368319439) I wrote for @zewa666.

[2018-02-26 06:01] darthInvad0r commented on #79
I don't envy that problem, I don't think JS regex supports balanced pair matching.

[2018-02-26 07:44] #80 closed

[2018-02-26 09:06] eriklieben commented on #79
The negative lookahead worked, but I think it was too costly to do I guess, which caused the crash. Not sure why I've added that, was looking at it yesterday like "Why did I make it so complex" :-)

The issue should be resolved in v1.0.2 of the extension.

Thank you for submitting the bug report and sorry for the inconvenience it caused. It took me a bit longer, my laptop crashed again on Saturday

[2018-02-27 05:59] jordan-ware commented on #79
Unfortunately this introduces new issues with multiple interpolations on the same line:

![image](https://user-images.githubusercontent.com/14194954/36712925-afa253d2-1bd2-11e8-930e-634d17f26b27.png)

![image](https://user-images.githubusercontent.com/14194954/36712969-e0778310-1bd2-11e8-8434-5179da8a4117.png)

[2018-02-28 21:08] #79 closed

[2018-02-28 21:09] eriklieben commented on #79
Tested and implemented the fix, @darthInvad0r thanks for the helping out fixing the issue!

[2018-03-01 06:16] eriklieben commented on #77
Thanks for the feature request, great idea.

For SFC, follow the work in the https://github.com/aurelia/experiment repository, where a compile/transpile step is added which makes the support for single file components possible.

I will close this issue for now, let's pick it up and look for solutions if the above doesn't work out the way it's planned.

[2018-03-01 06:16] #77 closed

[2018-03-03 15:52] Alexander-Taran commented on #32
ping @MeirionHughes

[2018-03-03 20:12] eriklieben commented on #32
The validations and code fixes in the visual studio code extension have been refactored (to make it easier to make them) and moved to the server side of the extension. I am currently working on making the extension smarter/ more aware of Aurelia. Once that is in place we can probably also easily create the above diagnostic/ warning and code fix.

@MeirionHughes currently has no time to further dev

[2018-03-08 17:31] Alexander-Taran commented on #78
@eriklieben had a chance to check it out?

[2018-04-18 12:40] eriklieben commented on #30
syntax highlight / add features inside template tags in the following scenarios:

[code]
related: https://github.com/aurelia/templating/pull/614

[code]

[2018-04-18 12:44] bigopon commented on #30
also nice if the expression inside listener can be highlight differently,

[code]

`onClick($event)` is currently treated as a string

[2018-06-14 12:42] arnonuem opened #87 "feat(create component): support creation of component files stub"
I'm submitting a feature request
When creating a new component it would be nice if the two files (js html) would be generated.
Content of html file would then be `<template></template>`.
Content of js file would then be `export class [TheGivenNameInCamelCase]`.

What is the motivation / use case for changing the behavior?
Saving time. Stop doing dumb work.

Thanks for the wonderful VS Code extensi

[2018-07-15 19:53] matthewcorven commented on #76
@bigopon Are you still seeing this error?.  I thought I'd pitch in and take a look at the bug, but I'm not able to reproduce.

VSCode 1.25.0
aurelia extension 1.0.3

[2018-07-27 12:31] bigopon commented on #76
@matthewcorven Hey, thanks for checking. Somehow I missed your comment. I'm not sure how to reproduce this behavior any more. Probably too subtle.

[2018-07-27 12:31] #76 closed

[2018-07-28 16:03] davidsk opened #90 "Aurelia extension suppresses HTML Syntax highlighting"
**I'm submitting a bug report**

* **Extension Version:**
1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.25.1

**Current behavior:**

HTML files do not have syntax highlighting applied if Aurelia extension is enabled.

![aurelia-enabled](https://user-images.githubusercontent.com/974827/43358332-e17b0472-9287-11e8-934a-52f09

[2018-07-29 07:44] eriklieben commented on #90
Hi @davidsk,

Sorry for the inconvenience. I am currently unable to reproduce this on my Windows 10 machine with the same version of code & the plugin. If you open up the Help/ About do you see any difference in versions in there? Or do you by any chance have a custom theme installed? (File/ Preferences / Color Theme)

![image](https://user-images.githubusercontent.com/1912596/43364087-bc24ea4e-93

[2018-07-31 07:11] davidsk commented on #90
I have been known to use custom themes but I thought I'd check and, well, it seems okay now.  Thanks anyway.

[2018-07-31 07:11] #90 closed

[2018-09-04 18:20] davicoradini opened #91 "Comment shortcut broken on HTML files"
I'm submitting a bug report

**Extension Version:** 1.0.3

**Operating System:** Windows 10

**Visual studio code version:** 1.26.1

**Current behavior:**
vscode comments shortcuts [Ctrl K + Ctrl C] and [Ctrl + /] inside an <script></script> tag on an HTML file are producing the wrong pattern:  (the one used for html comments)

**Expected/desired behavior:**

If I disable all the extensions it wor

[2018-09-04 23:31] bigopon commented on #91
@davicoradini Nice. I always thought this was some buggy behavior of vscode but never reported it .... 🤷‍♂️

[2018-09-19 05:42] eriklieben opened #93 "fix build"
build fails due to typescript/vscode errors

[2018-11-06 22:22] mjbvz opened #95 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2019-02-01 23:02] mjbvz commented on #95
Just a heads up: in VS Code 1.32 (the February update), using the previewHtml command will show an alert to the user, although the command should still work. We plan to remove the command entirely with VS Code 1.33 (March update)

[2019-02-01 23:07] EisenbergEffect commented on #95
Thank you @mjbvz for keeping up on this. I think @eriklieben has a plan to get things updated in the not-distant future.

[2019-02-12 10:54] sandy081 opened #96 "Adopt extension for no reload on install"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-23 01:02] gotling commented on #90
I ran into this problem today. Disabling the Aurelia extension solved it.

# Visual Code
[code]

[2019-03-18 14:28] thomas-darling opened #97 "`&` and `&&` should not be highlighted as an error"
**I'm submitting a bug report**

* **Extension Version:**
1.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.32.3

**Screenshot of incorrect highlight**

![image](https://user-images.githubusercontent.com/6388663/50860384-129fde80-1396-11e9-875f-ff7c07beeb15.png)

**Current behavior:**

A single or double ampersand is highlight

[2019-07-28 11:24] hiaux0 opened #101 "Various HTML parser errors"
**I'm submitting a bug report**

* **Extension Version:**
1.0.4

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.6

* **Visual studio code version:**
1.36.1

**Current behavior:**

Three parser bugs I encountered
(I added extra logging here for the detailed trace)

### 1. Parser Error: Unconsumed token } at column 10 in expression
<img width="984" alt="image" src="http

[2019-07-28 11:42] bigopon commented on #101
cc @fkleuver

[2019-07-28 16:56] fkleuver commented on #101
vCurrent's expression parser was never designed to parse `for .. of` expressions. It also doesn't parse interpolations. Those are part of the syntax interpreter unfortunately.
If this is only for syntax highlighting, maybe we can use vNext parser in the extension instead?

[2019-07-28 19:38] hiaux0 commented on #101
@fkleuver
Could you point me to where the vNext parser lives?

This is the vCurrent one?:
https://github.com/aurelia/binding

vNext?:
https://github.com/aurelia/aurelia/tree/master/packages

[2019-07-28 20:08] fkleuver commented on #101
Here: https://github.com/aurelia/aurelia/blob/master/packages/jit/src/expression-parser.ts

[2019-08-01 18:07] eriklieben commented on #101
This is not for syntax highlighting, but for the minimal version of auto complete that is in the current version behind the feature toggle. It's probably best to drop this as a whole and replace it by the future AST logic.

The syntax highlighting stuff is here: https://github.com/aurelia/vscode-extension/blob/master/syntaxes/html.json

Downside of it is that it needs to be updated each time the v

[2019-08-15 19:51] #93 closed

[2019-08-15 20:44] eriklieben opened #106 "multi workspace support"
# Support multi workspaces in vs code

more information for end users can be found here: https://code.visualstudio.com/docs/editor/multi-root-workspaces

more information on extension authoring can be found here:
https://github.com/Microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs

It would be nice if the Aurelia extension supports multiple workspaces by default.

This scenario can be eithe

[2019-08-15 20:58] eriklieben opened #107 "only enable the extension if the workspace folder contains an Aurelia 2 project"
# Only activate the extension on Aurelia 2 projects

Currently, the Aurelia extension is always active. It would be more logical to have the extension only activate if your open project (or the project in a given workspace) is actually an Aurelia 2 project.

With Aurelia 1 and a project created by the CLI, we could potentially do this by checking on the file ```aurelia_project\aurelia.json``` in a

[2019-08-16 05:20] eriklieben commented on #106
Sample repo with vs code workspaces for Aurelia2, Aurelia1, Angular, Vue, and React:
https://github.com/eriklieben/vscode-multi-workspace

When opening up the workspace, it should only activate the Aurelia2 plugin for the following workspaces:

- aurelia2-esnext-default
- aurelia2-typescript-default
- aurelia2-esnext-dumberjs-custom
- aurelia2-typescript-dumberjs-custom

![image](https://user-imag

[2019-08-18 11:14] #107 closed

[2019-08-18 11:30] eriklieben opened #108 "create new Aurelia 2 project GUI"
# create new Aurelia 2 project GUI

The existing CLI will be replaced with the command
[code]
This is a perfect option if you would like to generate a project from the command prompt, but it would be nice if there was a GUI/ wizard to create a project from vs code in the same way.

The great thing about the ```makes``` package is that we can supply it with command-line options and activate the sil

[2019-08-18 20:38] EisenbergEffect commented on #108
Sweet!

[2019-08-22 01:21] 3cp commented on #108
I thought about providing a GUI front for makes, but opted out for simplicity.
The GUI can be implemented by an alternative implementation of the makes inner prompts (where all user interactivity happens).
If you want to drive it from outside by peeking into the questions and other files, it feels too hacky. And you have to duplicate all conditional logic available in questions.

 If it is doable,

[2019-10-07 22:37] hiaux0 commented on #95
Closed by #98

[2019-10-07 22:37] #95 closed

[2019-10-07 22:38] hiaux0 commented on #78
See #95
Addressed in #98

[2019-10-07 22:38] #78 closed

[2019-10-16 19:19] hiaux0 opened #110 "feat(smartAutocomplete): Custom Element and View Model variables in .html"
## What was done
In your view template:
- type "<" to trigger completion for all your custom elements
- inside a custom element "space" to trigger View Model bindables completion

![out](https://user-images.githubusercontent.com/30693990/66951231-35180400-f05a-11e9-9033-14291f33919c.gif)

## Notes

#### Thoughts and ideas?
Please post them into the comments!

#### Limitations
Currently, it is assu

[2020-01-01 23:32] #110 closed

[2020-01-02 13:08] jboysen opened #113 "Cannot navigate to definition"
**I'm submitting a bug report**

* **Extension Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.41.1

**Screenshot of incorrect highlight**
![image](https://user-images.githubusercontent.com/935849/71668410-1a0b8500-2d69-11ea-8bf7-993550a50fd2.png)

**Current behavior:**
Above error is thrown by extension when Ctrl

[2020-01-03 05:17] jbockle opened #114 "smartAutoComplete not working in lerna monorepo"
**I'm submitting a bug report**

* **Extension Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.41.1

**Current behavior:**
I have `"smartAutocomplete": true` added to `aurelia.featureToggles`, however in my lerna monorepo I'm unable to get the feature to work when I have the monorepo root folder open.  If I open a

[2020-01-03 08:34] jboysen commented on #113
I also noticed this:
https://github.com/aurelia/vscode-extension/blob/f4707ab6fa5f04cd4d27c98450c1db9cc7e637cf/src/server/FileParser/ProcessFiles.ts#L26

Does this mean it will only parse files in /src/-directories?

[2020-01-07 16:34] henkeson opened #115 "Parser error for components with "repeat.for"-binding"
**I'm submitting a bug report**

* **Extension Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.41.1

**HTML/JS/TS of incorrect highlight**
smart auto complete init
failed to parse path c:/my-path/my-component.html
"Parser Error: Unconsumed token of at column 5 in expression [user of users]"
"Error: Parser Error: U

[2020-01-09 10:59] hiaux0 commented on #115
Hey, looks like with vCurrent of Aurelia we can't do anything about that.
I could provide a hacky workaround if you like (includes modifying file in `node_modules` in the extension path of aurelia)

https://github.com/aurelia/vscode-extension/issues/101#issuecomment-515778153

[2020-01-09 11:01] hiaux0 commented on #113
Looks like it is currently indeed only setup for `/src`.
Is your repo in question public, so I could try to test in your repo.

[2020-01-09 11:04] arnederuwe opened #116 "Binding Autocomplete doesn't work"
**I'm submitting a bug report**

* **Extension Version:**
1.0.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.41.1

**Current behavior:**
![image](https://user-images.githubusercontent.com/3369747/72061689-af14fd80-32d6-11ea-85f7-7c856687727b.png)
I don't get the properties from my backing viewmodel in my view intellisense. My A

[2020-01-09 11:05] hiaux0 commented on #114
Hi @jbockle,
ty for trying out the `smartAutocomplete`.

I definitely need to put up a detailed readme on the limitations of the extension.
Unfortunately, I have no experience with `lerna` projects, possible that it is not implemented for mono-repos.
I try to look more into it.

[2020-01-09 11:09] hiaux0 commented on #116
Could you try and see, if functionality becomes available, after you launched this command?:

![image](https://user-images.githubusercontent.com/30693990/72062787-c1903680-32d8-11ea-825b-96438b879136.png)

`Show Aurelia view data to side`

At least, it should open a web view window in vscode, hopefully.

[2020-01-09 11:15] hiaux0 commented on #116
Could you try to delete the quotes and retype them?

![gifgif](https://user-images.githubusercontent.com/30693990/72063265-c0abd480-32d9-11ea-921c-c1a06da197f3.gif)

[2020-01-09 11:33] arnederuwe commented on #116
Hi, thanks for the quick reply!

Deleting the quotes and retyping them doesn't fix the issue unfortunately.

Typing your command opens a tab with the following info:
Component: 'app'
Files
c:/Projects/Playground/plugin-broken-test/src/app.html
c:/Projects/Playground/plugin-broken-test/src/app.ts
ViewModel
type: typescript

Properties
message (string)
Methods
test (undefined) => (params: )
View
exp

[2020-01-09 11:44] jboysen commented on #113
Unfortunately it's not :(

[2020-01-09 11:46] hiaux0 commented on #116
Will try to setup the extension with a fresh vscode installation on another machine.

[2020-01-09 11:47] hiaux0 commented on #113
I experience the same issue on my linux machine.
(ext was tested and developed on a mac)

[2020-01-09 12:02] arnederuwe commented on #116
Fyi, I just tried it again in a [Windows Sandbox](https://www.windowscentral.com/how-use-windows-sandbox-windows-10-may-2019-update) and got the same issue. I installed npm, vscode, the plugin and the aurelia CLI

[2020-01-09 17:24] BjoernHund commented on #116
We've also the same problem. AutoComplete doesn't work.

If I try to open Aurelia view data to side, I get the following message:

```No file path found for {Path of the HTML Template)```

The command `Open Related Aurelia File: View` works.

[2020-02-17 06:20] pkkummermo opened #118 "Add docs to Aurelia intellisense"
**I'm submitting a feature request**

I'm loving the intellisense feature, and would love for it to be improved with relevant documentation for the custom-element and the props.

For the custom element:
[code]

![image](https://user-images.githubusercontent.com/1799456/74628220-62360980-5155-11ea-8d73-6f0902622651.png)

For the prop:
[code]

![image](https://user-images.githubusercontent.com/17994

[2020-02-17 08:23] arnederuwe commented on #116
Please let me know if there is anything more I can provide in order to get this fixed. It has to be something trivial, as our entire team (6+ people) can't get this to work on all our Aurelia projects. I would be happy to organize a screen share if that would help you.

[2020-02-17 09:32] pkkummermo commented on #116
@arnederuwe I think @hiaux0 is working hard on the [PR](https://github.com/aurelia/vscode-extension/pull/117) as we speak :)

[2020-02-17 09:36] arnederuwe commented on #116
ahh, I completely missed that.. My apologies :)
@hiaux0, we are using Windows 10 exclusively, if I could lighten your burden and perform some tests on my machines, please don't hesitate to contact me.

[2020-02-17 09:39] pkkummermo commented on #116
I have a Win10 setup with WSL Ubuntu18.04 along with VSCode if you need that permutation tested. Just ping me as well :)

[2020-02-23 11:40] hiaux0 commented on #118
Hey, great that you like the feature

That's why try to get tests running first before I continue.
I don't know yet, but the typescript parser should have docs included, so hopefully not too much to do :)

[2020-02-23 11:57] hiaux0 commented on #116
You could try to build #117 (potentially have to checkout the indiviual commits). Then copy paste into extension folder.

Are you on the aurelia [discord](https://discord.gg/HBtxRD)?
We could chat over there.

[2020-02-23 11:58] pkkummermo commented on #118
I highly appreciate the effort you put into this! As you say, I think it's highly available already through the TypeScript parser (https://github.com/microsoft/TypeScript/wiki/Using-the-Compiler-API#using-the-type-checker)

[code]

[2020-03-20 16:49] HymanZHAN commented on #116
@hiaux0 Any updates on this? Sorry I am not very familiar with VS Code extension development. May I ask how to build and test locally? I am also on Linux (Fedora 31) if that helps.

[2020-03-22 11:10] pkkummermo commented on #116
@hiaux0 just tested the branch on win10 with an existing project (which worked before), and it's now way more consistent and works much better.

[2020-03-22 22:31] pkkummermo commented on #118
I have something halfway working which basically traverses the `.ts`-files and looks for documentation on exported classes. If none are found, it falls back to the current behaviour.

![image](https://user-images.githubusercontent.com/1799456/77262259-15ce7400-6c95-11ea-8988-962b6b391dd1.png)

[2020-03-23 21:52] hiaux0 commented on #116
Hey guys, finally some update from my side.
While I still worked on the extension now and then, I could provide you with good steps to test the raw branch out:

##### Here it is!
@HymanZHAN @pkkummermo @arnederuwe

1. Clone Rep
2. checkout to `fix/autocomplete`
3. Go to the debug section
   1. and run the `client`
   2. --> Should open separate VSCode window, with latest changes included
4. From h

[2020-03-23 22:12] hiaux0 commented on #116
I also added a Wiki

https://github.com/aurelia/vscode-extension/wiki/View-Autocomplete

[2020-03-24 06:17] HymanZHAN commented on #116
@hiaux0 Thank you for the update! I manually copied the repo folder with your `fix/autocomplete` branch into `~\.vscode\extensions` (I have been using Win10 recently) and used it and I can confirm that binding works for my first few tries.

However, autocompletion stops working if there are parsing errors when I load the project for the first time.

For example, I am following the todo quick start

[2020-03-24 09:19] hiaux0 commented on #116
## Parsing error "... of ..."
Currently, I only know of this "fix"

1. Invoke command: `Open Extensions Folder`
2. Navigate to
`/Users/hdn/.vscode/extensions/aureliaeffect.aurelia-1.0.5/node_modules/aurelia-binding/dist/commonjs/aurelia-binding.js
3. At around line 3026, add the following row
[code]
4. Reload and parsing error should appear

## Parser Error: Invalid start of expression at column 0

[2020-03-24 17:31] HymanZHAN commented on #116
@hiaux0 Thanks for the reply! Yes, I am aware of the error and why it appears. My main question is that is there a way to automatically trigger re-parsing? As it currently stands, if I have an incorrect template when I first loaded the project, I need to manually correct it and reload the window for the extension to re-parse the project.

I noticed at the end of the Wiki:

I believe they are relat

[2020-03-25 09:58] hiaux0 commented on #116
Not at this point in time unfortunately :(

[2020-03-29 14:57] hiaux0 commented on #114
Hey, can you check out this [wiki article] and see if the following setting helps with the monorepo setup?

[code]

[2020-04-01 11:42] jbockle commented on #114
okay thanks! I'll give it a try today

[2020-04-04 23:02] hiaux0 commented on #118
Closed by #122
Thanks a lot for your great improvments @pkkummermo

[2020-04-04 23:02] #118 closed

[2020-04-04 23:21] hiaux0 opened #123 "@bindables(...) not parsed correctly as `isBindable`"
[code]
not recognized

("View Model: does not provide `form` as completion)

### Fix
[code]

https://github.com/aurelia/vscode-extension/blob/8a32c96374e1ffb7c9e4557639bb28b9dbc81bb4/src/server/FileParser/ProcessFiles.ts#L172

[2020-04-04 23:29] #123 closed

[2020-04-05 08:46] pkkummermo opened #125 "Missing valid web components"
**I'm submitting a bug report**

We're currently not including the component at all if we're having issues with the template (see #115), which is not preferrable as the markup (might) still work. Perhaps if we have a corresponding view we should include the component anyway. We also have the `@noView` decorator which should also be included.

* **Extension Version:**
NA

**Please tell us about you

[2020-04-06 13:03] arnederuwe commented on #116
The new update fixes this, all is working fine now :)
Thank you for improving our productivity!

[2020-04-06 13:03] #116 closed

[2020-04-07 20:42] pkkummermo opened #129 "vscode as a dependency is deprecated"
**I'm submitting a chore report**
Bump dependencies and remove old dependencies

* **Extension Version:**
NA

**Please tell us about your environment:**
* **Operating System:**
NA

* **Visual studio code version:**
NA

**Current behavior:**
We're using a deprecated way of running vscode during development. See https://code.visualstudio.com/api/working-with-extensions/testing-extension#migrating-fr

[2020-04-11 12:06] pkkummermo opened #133 "Include noView and useView-components in autocomplete"
**I'm submitting a bug report**
`@noView` and `@useView` web components should be in autocomplete

* **Extension Version:**
NA

**Please tell us about your environment:**
* **Operating System:**
NA

**Current behavior:**
The components are not included in autocomplete

**Expected/desired behavior:**
They should be

[2020-04-11 19:42] hiaux0 commented on #133
Closed by #134

[2020-04-11 19:42] #133 closed

[2020-04-11 19:43] hiaux0 commented on #129
Closed by #130

[2020-04-11 19:43] #129 closed

[2020-04-11 19:43] hiaux0 commented on #125
Closed by #127

[2020-04-11 19:43] #125 closed

[2020-04-11 19:44] hiaux0 commented on #115
We still give an error output, but add the component to the intellisense list.
Hope that is sufficient for now.

[2020-04-11 19:44] #115 closed

[2020-05-31 00:34] matthewcorven commented on #36
@eriklieben  Based on [January 2020 blog post](http://aurelia.io/blog/2020/01/01/aurelia-release-notes-january-2020)  by @EisenbergEffect can this be closed?

[2020-08-28 02:43] AlbertoMonteiro commented on #101
Thanks for pointing out the scripts @hiaux0 , I've changed in my extension node_modules and auto completion on html is working now!

[2020-12-16 07:36] gins3000 opened #138 ""Open Related" family of commands opens new column every time"
**I'm submitting a bug report**

* **Extension Version:**
1.0.6

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 20.04

* **Visual studio code version:**
1.52.0

**Current behavior:**
Since the newest version of VSCode (1.52.0 at the time of writing), the "Open Related" family of commands does not work properly anymore. The other file is always opened in a new column, rat

[2021-01-30 13:31] hiaux0 commented on #138
Greatly appreciate the detailed break down, also thx to @jwawrzyn for the actual fix.

Closed by #139

[2021-01-30 13:31] #138 closed

[2021-01-30 14:10] hiaux0 opened #140 "Status update on the Aurelia VSCode Extension"
Hey there,

while development dramastically halted again for this repo, I just wanted to update you, that development for *an* Aurelia VSC Extension is still ongoing (still not as regular as I hope to).

Currently, I created a rewrite here [au-lsp](https://github.com/hiaux0/au-lsp) [*1].

#### Anything else new in the rewrite?
Yes! Object completion in the view:
![img](https://user-images.githubus

[2021-02-05 11:56] hiaux0 commented on #138
New version released

[2021-03-01 11:41] hiaux0 opened #142 "$variables show up, but don't complete"

[2021-03-05 18:54] hiaux0 opened #143 "[comp]: Object completion only works at top of template file"
[code]

[2021-03-06 10:11] hiaux0 opened #144 "[comp] Care for `as-element` attribute"
[code]

[2021-03-06 10:11] hiaux0 opened #145 "Custom html data"
### Possible Use cases
- intellisense for your aurelia plugin
eg. you create a custom element `click-to-copy-button`, the extension would generate a json with intellisense in .html file `<click-to...`

https://github.com/microsoft/vscode-extension-samples/blob/master/custom-data-sample/html.html-data.json
https://code.visualstudio.com/api/extension-guides/custom-data-extension

[2021-03-06 10:12] hiaux0 opened #146 "[refac] create viewModel vars from view"
[code]

Here, `selectedSourceSetting` was not defined in the viewModel yet, so add shortcut/contextmenu to "Create viewModel variable"

- What about method?

[2021-03-06 10:13] hiaux0 opened #147 "[comp]: full ts in view"
in if.bind

[code]

[2021-03-06 18:09] hiaux0 opened #148 "[dev]: called twice [eb.ts] Starting document parsing"

[2021-03-07 16:03] hiaux0 commented on #101
v2 should not have this problem

[2021-03-07 16:03] #101 closed

[2021-03-07 16:06] hiaux0 commented on #36
v2 supports this

[2021-03-07 16:06] #36 closed

[2021-03-09 12:56] Seebiscuit opened #149 "Configure path to tsconfig.json"
**I'm submitting a feature request**

* **Extension Version:**
v2.0.3

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
v1.54.0

My tsconfig is not in the project/folder/workspace VSCode root. Could we add a config entry to set a relative path to the **tsconfig.json**?

[2021-03-10 18:12] #143 closed

[2021-03-10 18:12] #148 closed

[2021-03-10 19:44] hiaux0 commented on #149
New version releade (2.0.4).
Can you checkout this setting?:
https://github.com/aurelia/vscode-extension#project

[code]

You can then verify, that the extension picked up the correct path in the output

![image](https://user-images.githubusercontent.com/30693990/110687988-6827de00-81e1-11eb-834e-aff9bccdd8ce.png)

[2021-03-10 19:44] #149 closed

[2021-03-10 19:45] hiaux0 commented on #142
[dev]: Underlying issue has something to do with wordPatterns.
Had no luck in explicitely allowing `\$`.

[2021-03-11 19:37] itkfm opened #151 "Extension constantly crashing"
**I'm submitting a bug report**

* **Extension Version:**
2.0.4

**Please tell us about your environment:**
* **Operating System:**
- GNU/Linux (Ubuntu 20.04)
- Windows 10

* **Visual studio code version:**
1.54.1

**Screenshot of incorrect highlight**

![image](https://user-images.githubusercontent.com/53079668/110843258-5b21f200-82a8-11eb-9253-01f39a71eaaf.png)

**HTML/JS/TS of incorrect highlig

[2021-03-12 00:13] timfish commented on #151
Opening [this](https://github.com/timfish/bincode-typescript/) repository with vscode and the v2 extension reproduces this issue.

[2021-03-12 10:15] hiaux0 commented on #151
Ouh not good.

Explanation:
The extension tries to find a tsconfig.json file in the root.
If it fails to find, then it crashes

I'll look into straight away!

[2021-03-12 12:34] hiaux0 opened #152 "[Feedback] How to show that extension needs configuration?"
For me, #151 triggered this question.

On one side, I want to show a new user, how to setup the extension.
![image](https://user-images.githubusercontent.com/30693990/110940715-9ddedb00-8337-11eb-92a0-8aabb0e05d6d.png)

On the other side, it might become annoying (_insert scenario_).

[2021-03-12 13:42] hiaux0 commented on #151
Fix is live.
It will silently fail now.

![image](https://user-images.githubusercontent.com/30693990/110947971-17c79200-8341-11eb-91d8-c0e31e4a8aa6.png)

[2021-03-12 13:45] #151 closed

[2021-03-12 16:46] zewa666 commented on #152
I like that one. Alternatively you could also make the link open a tab with a webview embedding the readme from the repo. Similar like gitlens has

[2021-03-13 13:03] pkkummermo commented on #152
I use VSCode on several projects, also ones where aurelia is not present. The extension follows VSCode and not only the workspace. Perhaps we could detect if aurelia is actually present (searching package.json) before we show error/warnings/start pages?

[2021-03-13 17:10] hiaux0 opened #153 "[dev]: Remove watcherProgram approach"

[2021-03-17 09:15] hiaux0 commented on #153
Currently used for documentation parsing.

Consider ts-morph finally

[2021-03-17 09:41] hiaux0 commented on #152
Thanks for the proposals.
Summary

1. Link should open in webview (cf. gitlens)
2. Auto-detect Aurelia project

I started on 2.

Strategy:
- Detect if any Aurelia-related files are open
  - Yes? -> Start component collection
  - No? -> Do nothing
    - And wait until Aurelia-related file is being opened -> Start component collection

[2021-03-19 13:35] talamaska opened #154 "Support for aurelia 1"
**I'm submitting a feature request**

* **Extension Version:**
v2.0.6

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Visual studio code version:**
1.54.3

* **What is the expected behavior?**
I would like a config or other extension that still supports aurelia 1.

* **What is the motivation / use case for changing the behavior?**
My project can't be migrated. Y

[2021-03-20 23:28] hiaux0 commented on #154
I'm sorry you have to experience this.

My first suggestion would be to install the latest "stable" version, then choose `1.0.7`
![image](https://user-images.githubusercontent.com/30693990/111888330-db98cf00-89db-11eb-9010-3711ad8e9242.png)

Besides that, the highest priority for the extension right now is to make it as low configurable as possible.
(Currently, you need a `tsconfig.json` file)
For

[2021-03-20 23:34] hiaux0 commented on #154
Could you share some screenshots of the output?
v2.0.6 actually tried to make the error go silent, so unless, there is a path to tsconfig specified, this should be only thing the extension outputs
![image](https://user-images.githubusercontent.com/30693990/111888461-09324800-89dd-11eb-8b46-8aed55bed053.png)

Should prob. add a "verbose" setting. Thx for bringing that up.

[2021-03-21 10:07] hiaux0 commented on #154
From which version did you update to 2.0.6?

[2021-03-21 19:29] talamaska commented on #154
I haven't looked from which version.

[2021-03-23 14:43] talamaska commented on #154
![image](https://user-images.githubusercontent.com/299973/112164696-c481f900-8bf6-11eb-82ca-26cfe5368053.png)
 Here it is. On 2.0.6 editing an html in <template>

[2021-03-23 16:41] hiaux0 commented on #154
Thx for following up with examples!

1. To better help you, can you provide a screenshot of the Output on startup?

![image](https://user-images.githubusercontent.com/30693990/112183226-56413480-8bfe-11eb-895f-1aa888e050a3.png)

2. You can find out, which components the extension picked up by
(! Note, if you have too many components, it may print out nothing :(( )
- Open command palette (ctrl/cmd+

[2021-03-30 13:49] talamaska commented on #154
[code]

[code]

[2021-03-31 09:44] hiaux0 commented on #154
v2 currently relies on `tsconfig.json` (jsconfig.json needs to be configured, see below) being present.

Is your project a js project?
If yes, adding a `jsconfig.json` to the root will help to get this working.

1. Create an empty `jsconfig.json` in your root
2. In the settings do
[code]

I tested with an js project created by the aurelia-cli, and the default `app` component was detected.

Hope th

[2021-03-31 12:06] talamaska commented on #154
Yes it is a js based. Will try. Thanks.

[2021-03-31 12:14] talamaska commented on #154
Ok it seems to work, but this absolute path cannot be stored in the workspace settings, because other people store their project in different folder.

[2021-03-31 18:50] hiaux0 commented on #154
"User" settings (as compared to "Workspace") should allow every developer to specify their path
![Uploading image.png…]()

[2021-03-31 20:24] #154 closed

[2021-04-07 20:49] jamesond opened #155 "MacOS Fan Issue"
****
I'm submitting a bug report

* **Extension Version:**
2.0.6

**Please tell us about your environment:**
* **Operating System:**
OSX 11.2.3 Big Sur

* **Visual studio code version:**
1.55.0

**Screenshot of incorrect highlight**

**HTML/JS/TS of incorrect highlight**

**Current behavior:**

**Expected/desired behavior:**
Normal CPU Usage
When I enable the Aurelia extension the "Code Helper (Re

[2021-04-20 10:07] hiaux0 commented on #155
_Sry, I missed the notification for this :(_

Could you share some insights to your project structure?
Might be, that there is a misbehavior in parsing.

1. Enable extension
2. open output (choose Aurelia v2)
3. Check for sensible information
4. If possible share

FYI: If v2 is unusable due to this, you can always [revert to v1.0.7](https://github.com/aurelia/vscode-extension/issues/154#issuecomme

[2021-08-11 09:33] Alexander-Taran commented on #155
[code]

[2021-12-15 04:11] bigopon opened #166 "[Bug] expression inside template is triggering binding command instead of typings"
**I'm submitting a bug report**

* **Extension Version:**
2.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows

* **Visual studio code version:**
1.63.1

**Screenshot of incorrect highlight**
![image](https://user-images.githubusercontent.com/9994529/146121800-b86e95de-06ad-4ea9-9f29-e7f2d181d2a6.png)

**Expected/desired behavior:**
It should display some different int

[2021-12-25 23:36] hiaux0 commented on #153
- For watching: `connection.onDidChange...`
- tsmorph: check

[2021-12-25 23:36] #153 closed

[2021-12-25 23:38] hiaux0 commented on #147
v2.1.0 introduced reasonable sophisticated capability
Limitation:
- may only work for "last character at the end of a string
  - `foo[bar] && foo.|`
  - not: `foo[bar.] && foo`

[2021-12-25 23:38] #147 closed

[2021-12-25 23:40] hiaux0 commented on #145
Not for extension use itself, as you edit the code, so it changes, so the _one_ html.json will always change.
--> Use in memory
(approach may change in the future, after more insights were gained)

[2021-12-25 23:40] hiaux0 commented on #142
v2.1.0 added $ to word pattern

[2021-12-25 23:40] #142 closed

[2021-12-25 23:41] #140 closed

[2021-12-25 23:47] hiaux0 commented on #113
Fixed by v2.1.0

Feel free to reopen, if issue persists

Corresponding test: https://github.com/aurelia/vscode-extension/blob/3fbeea35ec648cb5c21071847c448303f2ee5a59/tests/features/capabilities/definitions/definitions.feature#L21

[2021-12-25 23:47] #113 closed

[2021-12-25 23:54] hiaux0 commented on #114
I looked deeper into your extension.
What an interesting use case.

I'll keep this in mind for a complex Monorepo.

Feel free to share more about your workflow, so that I can keep your specific use case in mind.

[2021-12-25 23:55] hiaux0 commented on #155
Closed due to insufficient steps to repro.
Perf issues are always welcomed though!

[2021-12-25 23:55] #155 closed

[2021-12-26 00:03] hiaux0 opened #168 "Changing Interface prop, should change view as well."
Ie.
[code]

[code]

[2021-12-29 16:05] rmja opened #169 "auOpenRelated does not work anymore"
**I'm submitting a bug report**

* **Extension Version:**
2.1.2

**Please tell us about your environment:**
* **Operating System:**
* Windows 11

* **Visual studio code version:**
1.63.2

**Current behavior:**
The command auOpenRelated does not seem to exist anymore. Using the command from the command palette and via a keyboard shortcut reports that the command is not found.

**Expected/desired be

[2021-12-29 20:58] hiaux0 commented on #169
Thanks for the report.
Seems like the extension is not activating on Windows/Mac at all. Works on Linux

I'm trying to push some changes. Not exactly sure if that'll fix it.

[2021-12-29 21:47] hiaux0 commented on #169
Should be fixed by 2.1.4

### Verified bug
Verified 2.1.2, does not work on Ubuntu/Mac

### Fixed bug
Verified 2.1.4, works on Ubuntu/Mac

[2021-12-29 21:47] #169 closed

[2021-12-30 15:29] hiaux0 opened #170 "[Rename] faulty behavior"
<img width="770" alt="image" src="https://user-images.githubusercontent.com/30693990/147765391-73ed04b7-8c2d-402e-96bb-1b94da2fd3cc.png">

1. id="${foo}"
2. repeat.for `foo` not renamed

[2022-01-06 13:40] hiaux0 opened #171 "[Content] not up to date with changes"
When adding new eg. html, extension basically breaks with wrong results.
Have to manually call "Aurelia: Reload" to fix. :(

[2022-01-07 11:02] hiaux0 opened #172 "[related] also on contextmenu"

[2022-01-24 11:15] hiaux0 opened #173 "[def]"
def of component should also reveal routers

[2022-01-25 22:47] hiaux0 opened #174 "[def] issue on view model defs"
Without extension
![image](https://user-images.githubusercontent.com/30693990/151072532-f9893678-1008-4764-bc6c-f4282510cc7a.png)

With
View model can get out of sync

[2022-02-06 09:41] hiaux0 opened #175 "[parser] leverage tsx?"

[2022-02-06 16:27] #174 closed

[2022-02-15 14:10] hiaux0 opened #179 "[def]: view model def not working (sth to do with @customElement decorator)?"
https://github.com/PrimeDAO/prime-deals-dapp/blob/43998d34f765efca7c0abec3895f415f70eb8728/src/resources/elements/primeDesignSystem/pform-input/pform-input.ts#L10

[code]

[2022-02-15 19:55] hiaux0 opened #180 "[hover] replace-part"
Add description to Aurelia special attributes

[2022-02-16 10:11] hiaux0 opened #181 "[def] view model var def shows more than it should"
![image](https://user-images.githubusercontent.com/30693990/154242875-597064b2-2c8c-452b-a6a4-08890a6947b2.png)

https://github.com/PrimeDAO/prime-deals-dapp/blob/1a585e6132aa65dd5d1c7c8d36e9a243566ee02c/src/wizards/tokenSwapDealWizard/stages/termsStage/termsStage.ts#L12

[2022-02-17 09:45] hiaux0 opened #182 "[def] method bindable View model not going to usage place"
https://github.com/PrimeDAO/prime-deals-dapp/blob/df4701204c8180e90ada8201566a4b2f149df7aa/src/resources/elements/editingCard/editingCard.ts#L7

`@bindable onSave|: () => boolean;`

[2022-02-17 10:25] hiaux0 opened #183 "[rename] out of sync still happens"
#174

1. rename var1 (to shorter name)
2. rename var2
3. bug: breaks code

[2022-03-06 12:09] hiaux0 commented on #183
Tried to play around, but cannot repro

[code]

[2022-03-06 19:22] hiaux0 opened #184 "Can we get rid of file reading for rename `findAllBindableAttributeRegions`"
`server\src\core\regions\findSpecificRegion.ts`

[code]

[2022-03-08 08:47] hiaux0 opened #185 "[completions] global custom attributes"

[2022-03-08 17:40] hiaux0 commented on #181
Testing with extensions disabled -> same result -> expected behavior

[2022-03-08 17:40] #181 closed

[2022-03-08 18:19] hiaux0 opened #186 "[rename] overwrites more then it should (repeat.for parsing bug)"

[2022-03-08 18:19] #186 closed

[2022-03-08 18:26] hiaux0 commented on #182
b7ed03e9119f2020b69357a42dd30dcd11c72d90

[2022-03-08 18:26] #182 closed

[2022-03-08 18:28] hiaux0 commented on #179
Working
![image](https://user-images.githubusercontent.com/30693990/157302278-f4d84205-a07d-45d5-b6b5-5eb256993e4a.png)

[2022-03-08 18:28] #179 closed

[2022-03-08 18:30] hiaux0 commented on #170
#186

[2022-03-08 18:30] #170 closed

[2022-03-08 18:31] hiaux0 commented on #171
Dunno if fully fixed, but attempts to fix in v2.3.0 (eg. 1c4a65d5a60169b8012415b6a232f3ab7a64954d)

[2022-03-08 18:32] hiaux0 commented on #166
Looks a bit better now
![image](https://user-images.githubusercontent.com/30693990/157302788-f6084d85-22d2-47ef-94fd-dc204b1b1361.png)

[2022-03-08 18:32] #166 closed

[2022-03-08 20:40] IonelLupu opened #187 "Show error message when importing files that have wrong camel case name (or don't exist on disk)"
**I'm submitting a feature request**

* **Extension Version:** *

**Please tell us about your environment:**
* **Operating System:** Windows 10

* **Visual studio code version:** *

**Current behavior:**
The extension doesn't show an error when importing files that have wrong camel case name. (I guess it doesn't show an error when importing files that don't exist on disk either. Didn't test)

**Ex

[2022-03-10 12:51] giladt opened #188 "The use of a private method of an injected class in the view- should provide error feedback"
**I'm submitting a feature request**

* **Extension Version:**

**Please tell us about your environment:**
* **Operating System:**
OSX 12.2.1

* **Visual studio code version:**
v1.65.1

**Current behavior:**
There is no indication when using a private method of an injected class in the view.

**Expected/desired behavior:**
The use of a private method of an injected class in the view- should provid

[2022-03-11 10:20] hiaux0 commented on #183
Another angle:

1. do some editing
2. dont save
3. rename
4. broken code

[2022-03-11 12:06] hiaux0 opened #189 "[def] bindable shows too much"
![image](https://user-images.githubusercontent.com/30693990/157863870-a1d2674d-fcfe-4bdc-8ebb-e1eb5c76845f.png)

[2022-03-11 14:39] hiaux0 opened #190 "[completions] value converter completes to all lower case"
- "| "
- then shows copmletions
- choose
- bug: only lower case

[2022-03-12 22:59] 0xEAB opened #191 "Publish to Open VSX"
# 🙋 Feature Request

I would be nice to have the extension published to [Open VSX](https://open-vsx.org/?search=aurelia)

## 🤔 Expected Behavior

… so it’s available out of the box in VSCodium etc.

## 😯 Current Behavior

No search results found for “Aurelia” on OpenVSX or in VSCodium

## 💁 Possible Solution

https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

[2022-03-12 23:00] 0xEAB commented on #191
(I’m sorry for accidentally posting this to the wrong repo: https://github.com/aurelia/aurelia/issues/1365)

[2022-03-15 13:58] hiaux0 commented on #191
Thanks for reporting.
This is the second request for OpenVSX already.

Unfortunately, I can already they, that this is lower prio right now.
Just because it involves another platform and some management/org update.

Alternatively, I started to upload the .vsix file to the release pages
https://github.com/aurelia/vscode-extension/releases
Hope this can satisfy you a little bit!

[2022-03-15 13:59] hiaux0 commented on #191
Maybe, I can add an issue, where I post .vsix updates for subscription purposes

[2022-03-16 10:25] hiaux0 opened #192 "[comp]: typed bindables"
*    <pbutton type="tertiary">Tertiary</pbutton>      <-- completion here

*/
export type ButtonType = "primary" | "secondary" | "tertiary" | "formfield";

@customElement("pbutton")
export class PButton {
  @bindable.string type: ButtonType;

[2022-03-30 15:59] itkfm commented on #191
It might not be ideal, but having ready to use builds available on the releases page makes installing them easier (compared to downloading them from the VS Code marketplace website).

[2022-04-06 23:55] MaximBalaganskiy opened #194 "Extension crashes in certain conditions"
**I'm submitting a bug report**

* **Extension Version:**
v2.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 11

* **Visual studio code version:**
1.66.0

**Current behavior:**
The extension crashes under very strange circumstances. Try opening https://github.com/MaximBalaganskiy/extension-bug

[code]

[2022-04-07 08:55] hiaux0 commented on #194
Interesting. I suspect there is wrong logic in reading files. It assumes a specific path or so.

ETA: Next monday
Note: you would have to manually download the .vsix file, as we have publishing issues right now

[2022-04-10 14:12] #194 closed

[2022-04-10 14:14] hiaux0 commented on #194
.vsix file here https://github.com/aurelia/vscode-extension/releases/tag/2.3.4

install
code --install-extension aurelia-2.3.4.vsix

Fix verification
![image](https://user-images.githubusercontent.com/30693990/162623576-22d10104-acbf-404b-97be-a36bd3130a0f.png)

[2022-05-04 18:51] tamagosante opened #196 "[Rename] Flaky behavior"
### Recommendation
1. Disable rename Settings -> search for `aurelia.capabilities` -> untick Rename box
2. Sometimes Saving then calling `Aurelia: Reload Extension` works

### Explanation
Feature is not working as intended as soon as files are changed, because underlying code has not latest files

### Related
#183

[2022-05-28 22:13] Alexander-Taran commented on #52
@eriklieben I think this was implemented (-:

[2022-06-03 16:39] Alexander-Taran commented on #32
@eriklieben ping (-:

[2022-06-25 15:48] LetsZiggy opened #198 "[Request] Publish to NPM for SublimeLSP"
Hi,

I would like to create a LSP client for [SublimeLSP](https://github.com/sublimelsp?type=source). I'm using [LSP-angular](https://github.com/sublimelsp/LSP-angular) ([@angular/language-service](https://www.npmjs.com/package/@angular/language-service)) and [LSP-svelte](https://github.com/sublimelsp/LSP-svelte) ([svelte-language-server](https://www.npmjs.com/package/svelte-language-server)) as r

[2022-06-28 06:53] LetsZiggy commented on #198
Hi @hiaux0,

Okay. I'll try through a fork for now

Thanks for the suggestion and the time estimate. Appreciate it

[2022-06-28 06:53] #198 closed

[2022-10-05 13:32] michaeldwood opened #199 "Autocomplete when using aurelia-bootstrapper"
**I'm submitting a bug report**

* **Extension Version:** 2.1.4

**Please tell us about your environment:**
* **Operating System:** Windows

* **Visual studio code version:** 1.71.2

**Current behavior:**

Autocomplete doesn't work with a project configured with aurelia-bootrapper because "aurelia-bootstrapper" is missing as a dependency/devDependency check at startup.

**Expected/desired behavior

[2022-10-05 15:29] #199 closed

[2022-10-05 16:00] hiaux0 commented on #199
v 2.3.5 pre-release was pushed with a fix for this
(I did not test, just added the checks)

[2022-10-10 00:56] zeroidentidad opened #201 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `aurelia`
- Extension Version: `2.1.4`
- OS Version: `Linux x64 5.4.0-126-generic`
- VS Code version: `1.72.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///tmp/AureliaEffect.aurelia-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-c

[2022-10-10 15:47] zeroidentidad commented on #201
No, I don't have that option

[2022-10-10 16:50] hiaux0 commented on #201
@zeroidentidad Is the repo you are working on perhaps public?